<header class="d-flex justify-content-start p-2 mb-5">

    <nav class="nav">
        <li class="nav-item">
            <a href="/" class="nav-link  link-light" id="<%= path === '/anime-list' ? 'active' : '' %>">My list</a>
        </li>

        <li class="nav-item">
            <a href="/add-animes" class="nav-link link-light" id="<%= path === '/add-anime' ? 'active' : '' %>">Add animes</a>
        </li>
    </nav>

</header>